/* Standard */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main */
#main {
    width: 100vw;
    height: 100vh;

    /* Configuration */
    background-color: var(--background-color);
    row-gap: var(--row-gap);

    /* Layout */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--rows), 1fr);

    /* Scrollbars */
    overflow: hidden;
    padding: var(--row-gap);
}

/* Row */
.row {
    /* Layout */
    display: flex;
}

/* Image */
.image {
    /* Layout */
    width: var(--width, 20vw);
    clip-path: polygon(var(--parallel-gap) 0%, 100% 0%, calc(100% - var(--parallel-gap)) 100%, 0% 100%);
    margin-left: calc(var(--parallel-margin) - var(--parallel-gap));

    /* Image */
    background-size: max(var(--width, 20vw), calc(var(--vertfix, 1) * 100 / var(--rows) * 1vh));

    /* Blur */
    filter: blur(2px) opacity(50%);
    will-change: filter;
    transition: all 0.25s ease-out;
}

.image:hover {
    filter: blur(0px) opacity(100%);
    cursor: pointer;
}

/* Mobile */
@media only screen and (max-width: 125vh) {
    .image {
        background-size: max(var(--width, 20vw), calc(var(--vertfix, var(--mobilevertfix, 1)) * 100 / var(--rows) * 1vh));
    }
}