/* Title */
.title {
    /* Layout */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    /* Color */
    color: rgb(20, 20, 20);

    /* Other */
    pointer-events: none;
}

/* Name */
.name {
    /* Font */
    font-family: 'Assistant';
    line-height: clamp(5.4vh, 6vw, 54vh);
    padding-bottom: clamp(1vh, 1vw, 10vh);
    letter-spacing: -0.2vw;
    font-weight: 800;
    font-size: clamp(9vh, 10vw, 120vh);

    /* Other */
    pointer-events: all;
    cursor: pointer;

    /* Transition */
    transition: all 0.25s ease-out;
    /* opacity: 1; */
}

.name:hover {
    color: #444;
}

/* .name:hover {
    transform: translateX(-2px) translateY(4px);
    color: rgb(30,242,241);
}

.name:hover:after {
    opacity: 1;
} */

/* .name:after {
    content: "NICHROMA";
    color: rgb(246,5,10);
    mix-blend-mode: multiply;

    position: absolute;
    left: 2px;
    top: -4px;

    transition: all 0.25s ease-out;
    opacity: 0;
} */

/* Subtitle */
.subtitle {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

/* Subtitle Sub-entries */
.sub {
    font-family: 'Assistant';
    letter-spacing: clamp(0.1vh, 0.1vw, 1vh);
    font-weight: 600;
    font-size: clamp(1.4vh, 1.2vw, 10vh);
}

/* Series */
.series {
    position: absolute;
    font-family: 'Assistant';
    letter-spacing: clamp(-1vh, -0.1vw, -0.1vh);
    font-weight: 800;
    font-size: clamp(4vh, 3.5vw, 30vh);
    top: 2vh;
    right: 2vh;
    line-height: 3vw;
}

.series:hover {
    cursor: pointer;
    color: #444;
}